<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>820687358455-spe5mksqmnjum2bku2hrfl01ve7dafvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820687358455-spe5mksqmnjum2bku2hrfl01ve7dafvf</string>
	<key>API_KEY</key>
	<string>AIzaSyC9HW3N1tmZlRm_fMa_c9c4UINaDi4bpm8</string>
	<key>GCM_SENDER_ID</key>
	<string>820687358455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>peekatjobs.Peek</string>
	<key>PROJECT_ID</key>
	<string>peek-40619</string>
	<key>STORAGE_BUCKET</key>
	<string>peek-40619.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820687358455:ios:9e5b6be88ce4b492</string>
	<key>DATABASE_URL</key>
	<string>https://peek-40619.firebaseio.com</string>
</dict>
</plist>